*{
	margin: 0;
	padding: 0;
}
.content h1{
	font-size: 70px; /*60px*/
	font-weight: 100;
	color: black;	
	overflow: auto;
	background-color: #D8D8D8;
}
.container{
	height: 100vh;
	width: 100%;
	background-color: #D8D8D8;
	background-position: center;
	background-size: cover;
	padding-left: 5%;
	padding-right: 5%;
	box-sizing: border-box;
	position: relative;		
}
.content .btn{
	display: inline-block;
	align-items: left;
	/*background: linear-gradient(45deg, #87adfe, #ff77cd);*/
	background: #090979;
	border-radius: 2px;
	padding: 20px 40px;
	box-sizing: border-box;
	text-decoration: none;
	color: #fff;
	box-shadow: 3px 15px 22px rgba(94, 28, 68, 0.15);
}

